* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr minmax(50%, 60%) 1fr;
    grid-template-rows: 1fr 1fr 100%;
    gap: 15px;
}

.logo {
    grid-area: 1 / 1;

}

.header {
    grid-area: 1 / 2 / 1 / 4;
}

.left-sidebar {
    grid-area: 2 / 1 / 4 / 2;
}

.taskbar {
    grid-area: 2 / 2 / 3 / 4;
}

.projects {
    grid-area: 3 / 2 / 4 / 3;

}

.right-sidebar {
    grid-area: 3 / 3 / 4 / 4;
}